# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.bak

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# 文档
*.md
docs/

# 日志
*.log

# OS
.DS_Store
Thumbs.db
