DOCKER_REGISTRY=docker.m.daocloud.io
MYSQL_ROOT_PASSWORD=root123456
NACOS_AUTH_TOKEN=SecretKey012345678901234567890123456789012345678901234567890123456789
NACOS_AUTH_IDENTITY_KEY=nacos
NACOS_AUTH_IDENTITY_VALUE=nacos
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
ALIYUN_ACCESS_KEY=YOUR_ACCESS_KEY
ALIYUN_SECRET=YOUR_SECRET
ALIYUN_SIGN_NAME=YOUR_SIGN_NAME
ALIYUN_TEMPLATE_CODE=YOUR_TEMPLATE_CODE
CAPTCHA_ID=ac46d9e9bd532607cf2b1ba39075053e
CAPTCHA_KEY=f72c10ffca635a9e4af69d4c2e5a41f5
ROOM_AUTH_SECRET=change-me-in-production
