# 公共配置文件
# @author JavierChen

codesandbox:
  type: 'judge0'
  remote-url: 'http://localhost:2358'
  # 填入您在 Judge0 中生成的 AUTHN_TOKEN。如果 Judge0 未开启认证，此处留空即可。
  api-key: ''

feign:
  okhttp:
    enabled: true

spring:
  application:
    name: jc-smarteroj-backend-judge-service
  # 默认 dev 环境
  # 支持 swagger3
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # session 配置
  session:
    # 开启分布式 session（须先配置 Redis）
    store-type: redis
    # 30 天过期
    timeout: 259200000
  cloud:
    nacos:
      serverAddr: 127.0.0.1:5526



  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/smarter_oj_db
    username: root
    password: 'cjw2295cjw'
  # Redis 配置
  redis:
    database: 1
    host: localhost
    port: 6379
    timeout: 5000

  # 文件上传
  servlet:
    multipart:
      # 大小限制
      max-file-size: 10MB
  main:
    web-application-type: servlet
server:
  address: 0.0.0.0
  port: 8203
  servlet:
    context-path: /api/judge
    # cookie 30 天过期
    session:
      cookie:
        max-age: 2592000
        path: '/api'
      timeout: 25292000
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）

# 接口文档配置
knife4j:
  enable: true
  openapi:
    title: "接口文档"
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - fun.javierchen.jcsmarterojbackendjudgeservice.controller

# ====== Sa-Token 配置 ======
sa-token:
  token-name: satoken
  timeout: 2592000
  active-timeout: -1
  is-concurrent: true
  is-share: true
  token-style: uuid
  is-log: true

# ====== 监控配置 ======
management:
  server:
    port: 9993
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: when-authorized
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
      sla:
        http.server.requests: 50ms,100ms,200ms,500ms,1000ms,5000ms
