spring:
  cloud:
    nacos:
      serverAddr: 127.0.0.1:5526
    gateway:
      routes:
        - id: jc-smarteroj-backend-user-service
          uri: lb://jc-smarteroj-backend-user-service
          predicates:
            - Path=/api/user/**
        - id: jc-smarteroj-backend-question-service
          uri: lb://jc-smarteroj-backend-question-service
          predicates:
            - Path=/api/question/**
        - id: jc-smarteroj-backend-judge-service
          uri: lb://jc-smarteroj-backend-judge-service
          predicates:
            - Path=/api/judge/**
  application:
    name: jc-smarteroj-backend-gateway
    # Gateway 和 MVC 不能共存
  main:
    web-application-type: reactive
server:
  port: 8101

knife4j:
  gateway:
    enabled: true
    # 指定服务发现自动聚合策略
    strategy: discover
    discover:
      enabled: true
      # 指定聚合版本为 OpenAPI3
      version: openapi3
