spring:
  cloud:
    nacos:
      serverAddr: 127.0.0.1:5526
    gateway:
      routes:
        - id: jc-smarteroj-backend-user-service
          uri: lb://jc-smarteroj-backend-user-service
          predicates:
            - Path=/api/user/**
        - id: jc-smarteroj-backend-question-service
          uri: lb://jc-smarteroj-backend-question-service
          predicates:
            - Path=/api/question/**,/api/questionSet/**
          filters:
            - RewritePath=/api/questionSet/(?<segment>.*), /api/question/questionSet/$\{segment}
        - id: jc-smarteroj-backend-judge-service
          uri: lb://jc-smarteroj-backend-judge-service
          predicates:
            - Path=/api/judge/**
        - id: jc-smarteroj-backend-post-service
          uri: lb://jc-smarteroj-backend-post-service
          predicates:
            - Path=/api/post/**
        - id: jc-smarteroj-backend-room-service
          uri: lb://jc-smarteroj-backend-room-service
          predicates:
            - Path=/api/room/**
  application:
    name: jc-smarteroj-backend-gateway
    # Gateway 和 MVC 不能共存
  main:
    web-application-type: reactive
  # Redis 配置（Sa-Token 需要连接 Redis 验证 Token）
  redis:
    database: 1
    host: localhost
    port: 6379
    timeout: 5000
server:
  port: 8101

knife4j:
  gateway:
    enabled: true
    # 指定服务发现自动聚合策略
    strategy: discover
    discover:
      enabled: true
      # 指定聚合版本为 OpenAPI3
      version: openapi3

# ====== Sa-Token 配置 ======
sa-token:
  # token 名称（同时也是 Cookie 名称和请求头名称）
  token-name: satoken
  # token 有效期（单位：秒），默认 30 天
  timeout: 2592000
  # token 最低活跃频率，-1 代表不限制（永不冻结）
  active-timeout: -1
  # 是否允许同一账号多地同时登录
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个 token
  is-share: true
  # token 风格（uuid: 标准UUID风格）
  token-style: uuid
  # 是否输出操作日志
  is-log: true
